/* Reset des marges par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to left, #fff, #fbedf1 90%);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


header {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content:space-evenly;
  gap: 450px;
  border-bottom: 1px solid #e5e7eb;
  backdrop-filter: saturate(120%) blur(6px);
  top: 0;
  z-index: 50;
  padding: 6px;
  background-color: #fff !important; 
}

header nav ul {
  display: flex;
  
  flex-direction: row;
  list-style: none;
}

.link {
  color: #19454f;
  text-decoration: none;
  font-size: 15px;
  margin: 15px;
  letter-spacing: 1px;
}

#logo {
  width: 190px;
}

#container_content {
  text-align: center;
  
}

.container_button {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.container_button .button_main {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

#button_write
